.clock {
  --led-colour: hsl(151, 50%, 70%);
  --background-colour: hsl(300, 0%, 3%);
  background: var(--background-colour);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.days {
  display: flex;
  justify-content: space-between;
  color: hsl(300, 3%, 20%);
  font-size: 1em;
}

.led {
  font-family: '7LED', serif;
  font-size: 25vw;
  background: var(--led-colour);
  width: max-content;
  align-self: center;
  margin-top: 10px;
  color: var(--background-colour);
  line-height: 1;
}

@media (min-width: 500px) {
  .led {
    font-size: 110px;
  }
}

.days .today {
  color: var(--led-colour);
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}